@import './../../../assets/variables';

.toggle-container {
    input[type=checkbox] {
        position: absolute;
        left: -1000vw;
    }

    &.dark-mode {
        label[for=toggle] {
            color: #fff;
        }

        .icon {
            fill: #fff;
        }
    }
}

label {
    display: flex;
    align-items: center;
    gap: .85em;
    font-weight: 600;
    font-size: .95rem;
}

.icon {
    width: 1.5em;
    height: 1.5em;
}

