@import './../assets/variables';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.15);
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 1em;
}

.header-title {
    font-size: .95em;
    font-weight: 700;

    a {
        font: inherit;
        text-decoration: none;
        color: $very-dark-blue;
    }
}

header.dark-mode {
    background-color: $dark-blue;

    .header-title {
        a {
            color: $white;
        }
    }
}

main {
    flex-grow: 1;
    
    &.dark-mode {
        background-color: $very-dark-blue-bg;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: transparent;
    .attribution {
        padding: .75em;
        display: flex;
        align-items: center;
        gap: 1.5em;

        a {
            color: $very-dark-blue;
            font-size: .85em;
        }
    }

    &.dark-mode {
        .attribution {
            a {
                color: $white;
            }
        }
    }
}

@media screen and (min-width: 50em) {
    .header-wrapper {
        padding: 2em;
    }

    .header-title {
        font-size: 1.25em;
    }
}

.box {
    background-color: #fff;
    transition: background-color .35s;
    margin: 10px 0;

    &.dark-mode {
        background-color: #111;
    }
}
