<div class="box" [class.dark-mode]="isDark">
    <app-toggle (toggled)="isDark = $event"></app-toggle>
</div>

<div class="box">
    <app-button [isDarkMode]="isDark" label="France"></app-button>
</div>


<div class="box">
    <app-button [isDarkMode]="isDark" label="Back" [hasIcon]="true">
        <svg class="icon">
            <use xlink:href="/assets/sprites/icon-utilities.svg#icon-arrow"></use>
        </svg>
    </app-button>
</div>

<div class="box">
    <app-search-bar [isDarkMode]="isDark"></app-search-bar>
</div>