<header [class.dark-mode]="isDark">
    <div class="header-wrapper">
        <h1 class="header-title"><a routerLink="/">Where in the world?</a></h1>
        <app-toggle (toggled)="handleToggle($event)"></app-toggle>
    </div>
</header>
<main [class.dark-mode]="isDark">
    <router-outlet></router-outlet>
</main>

<footer [class.dark-mode]="isDark">
    <div class="attribution">
        <a href="https://www.instagram.com/devchristopherii">&copy; Coded by Christopher II</a>
        <a href="https://www.frontendmentor.io">Challenged at Frontend Mentor</a>
    </div>
</footer>